
.profile-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
}
.profile-header {
    text-align: center;
    margin-bottom: 30px;
}
.profile-container  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: #2c3e50 2px;
}
.profile-container h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}
.username {
    color: #7f8c8d;
    font-size: 1.2em;
}
.profile-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.detail-item {
    margin-bottom: 15px;
}
.detail-label {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
}
.detail-value {
    color: #34495e;
}
.bio, .experience, .social-media {
    margin-top: 30px;
}
.bio h2, .experience h2, .social-media h2 {
    color: #2c3e50;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.delete-button:hover {
    background-color: #c0392b;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}