.Page2{
    display: flex;
    flex-direction: row;

}
.profileAside{
    height: auto;
    width: 40% ;
    
}
.profileImg-Container{
    height: auto;
    width: fit-content;
}
.profileImg{
    border: 1px black solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
}
.profileUsername{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profileField{
    width: 60%;
}

.profileInformation{
    color: rgba(0, 0, 0, 0.5);
} 